<!DOCTYPE html>
<html>
<head>
    @*Required Metadata*@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Interrogate Me - Create your Q and A poll for free.</title>
    <meta name="keywords" content="Q and A poll">
    <meta name="description" content="Interrogate.me is the best place to create a question and answer poll. Enter title of the poll, share the link, and view incoming question in real-time for free.">
    <link rel="alternate" hreflang="en-us" href="https://interrogate.me/" />
    <partial name="_FaviconsPartial" />
    <google-plus-meta name="Interrogate.me"
                      description="Interrogate.me is the best place to create a question and answer poll. Enter title of the poll, share the link, and view incoming question in real-time for free."
                      image-url="https://www.interrogate.me/images/magnify_400x400.png"></google-plus-meta>
    @RenderSection("Header", required: false)

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <google-analytics tracking-id="UA-121852812-1"></google-analytics>
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
    @*Fonts*@
    <link href="https://fonts.googleapis.com/css?family=Raleway:300,400,700" rel="stylesheet">
</head>

<body>
    <div class="wrapper">
        <div class="header">
            <div class="navbar">
                <a href="/" class="logo">
                    <img src="~/images/magnify_400x400.png"  alt="interrogate.me logo"/>
                    Interrogate.me
                </a>
                <ul>
                    <li>
                        <a href="/">Create Poll</a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content">
            @RenderBody()
        </div>

        <div class="footer">
            <div>
                <p>&copy; Copyright 2018 Interrogate.me. All rights reserved</p>
            </div>
            <div>
                <p>
                    <a href="/">Create poll</a>  |
                    <a href="/privacy">Privacy Policy and Cookies</a> |
                    <a href="/tos">Terms of Service</a>
                </p>
            </div>
        </div>
    </div>
    <partial name="_CookieConsentPartial" />

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-3.3.1.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-tsQFqpEReu7ZLhBV2VZlAu7zcOV+rXbYlF2cqB8txI/8aZajjp4Bqd+V6D5IgvKT">
        </script>
        <script src="~/lib/jquery-validation/dist/jquery.validate.min.js" asp-append-version="true"></script>
        <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js" asp-append-version="true"></script>
    </environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
