@page
@model ErrorModel

<div class="content">
    <div class="container bound">
        <h1 class="errorHeader">Uh oh! Spaghettiooo</h1>
        <h2 class="errorSubHeader">Error <span class="red">404</span> Not Found </h2>

        <div class="error">
            <p>
                We can’t find the URL you’re looking for.
            </p>
            <p>
                If you want to create a new straw poll, go to the <a class="green" href="/">Home Page</a>.
            </p>
            <p>
                But if you rather look at senseless error pages, feel free to take a rest here.
            </p>
        </div>
    </div>
</div>