@page
@model InterrogateMe.Web.Pages.TermsOfServiceModel

<div class="content">
    <div class="container bound tos">

        <h1>Terms of Service</h1>
        <ol>
            <li>Do not create polls that are illegal, abusive or offensive.</li>
            <li>Do not respond with evil comments.</li>
            <li>You are solely responsible for the content you are putting on interrogate.me.</li>
            <li>Check our privacy policy.</li>
        </ol>
    </div>
</div>
